.board-page {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .board-name {
    color: #fff;
    margin: 1em 1em 0 0;
  }

  .controls-row {
    padding: 1.5em;
  }

  .columns-wrapper {
    flex: 1;
    padding-bottom: 2em;

    .columns {
      margin: auto;
      min-height: 40em;
      max-width: 800px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: $gray-7;
      border-radius: $border-radius-default;
      padding: 0 $columns-padding $columns-padding;
    }
  }
}
