@import '../presets';

.landing-page {
  margin: auto;
  padding: 1rem;

  .landing-controls {
    background-color: white;
    border: 1px solid $soft-grey;
    border-radius: $border-radius-default;
    padding: 3rem;
    box-shadow: 0 2px 3px $soft-grey;
  }

  .board-link {
    margin-top: 0.25rem;
    display: block;
    border: 1px solid $soft-grey;
    color: $black;
  }
}
