@import '_presets.scss';

.footer-line {
  border-top: 1px solid $gray-7;
  margin: auto;
  width: 65%;
  max-width: 700px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: $gray-2;
  padding: 1em 0;

  li {
    display: inline-block;
    list-style: none;
    padding: 0 3vw;

    .footer-link {
      font-size: 1rem;
    }
  }
}
