@import './_presets.scss';

.button {
  display: inline-block;
  position: relative;
  font-weight: 900;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  text-decoration: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: inherit;
  transition: all ease-in-out 0.15s;

  &.medium {
    padding: 0.6em 1.5em;
    font-size: 0.9em;
  }

  &.large {
    padding: 0.8em 1.6em;
    font-size: 0.95em;
  }

  &.primary {
    background-color: $link-blue;
    border-color: $link-blue;
    color: #fff;

    &:hover {
      background-color: $hover-blue;
      border-color: $hover-blue;
    }

    &:focus {
      background-color: $hover-blue;
    }
  }

  &.secondary {
    border-color: transparent;
    color: $dark-grey;
    background-color: #fff;

    &:hover {
      background-color: $soft-grey;
    }

    &:focus {
      background-color: $soft-grey;
    }
  }

  &:disabled {
    border-color: transparent;
    background-color: $black;
    color: $dark-grey;

    &:hover,
    &:active {
      border-color: transparent;
      background-color: $dark-grey;
      color: $light-grey;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3pt $pale-blue;
  }

  &.form-button {
    float: right;
    margin-right: 0.5em;
  }

  &.form-button-right {
    margin-right: 0;
  }

  &.icon {
    padding-left: 3em;
  }

  &.icon-no-content {
    padding: 0.8em 0.8em;

    .button-icon {
      margin: 0;
      position: static;
    }
  }

  .button-icon {
    font-size: 1.5em;
    position: absolute;
    margin-right: 0.5em;
    margin-top: -2px;
    margin-bottom: none;
    left: 0.65em;
  }
}
