@import './_presets.scss';

.field-label {
  font-size: 0.8em;
  font-weight: bold;
  color: $dark-grey;
  display: inline-block;
  margin: 0.4em 0;
  // text-transform: uppercase;
}

.field-present-value {
  font-size: 1em;
}

.field-wrapper {
  position: relative;
  margin-bottom: 1.5rem;

  &.editable-field-wrapper {
    margin-bottom: 1rem;
  }

  .field-error-label {
    color: $warning-red;
    font-size: 0.7em;
    position: absolute;
    white-space: nowrap;
    bottom: -1.5em;
  }

  .field-outer {
    display: flex;
    position: relative;

    .field {
      flex-grow: 1;
      border: 1px solid $field-border-color;
      border-radius: $field-border-radius;
      box-shadow: none;
      -webkit-appearance: none;
      background-color: transparent;
      width: 100%;

      &::placeholder {
        color: $light-grey;
      }

      &:hover {
        border-color: $field-hover-border-color;
      }

      &:focus {
        outline: 0;
        border-color: $field-active-border-color;
      }

      &.normal {
        padding: 10px;
        font-size: 1em;
      }

      &.large {
        padding: 15px;
        font-size: 1.25em;
      }

      &.field-error-border {
        border-color: $warning-red;
      }

      &.clearable-field {
        padding-right: 1.75em;
      }

      &.include-left-icon {
        padding-left: 2em;
      }
    }

    .clear-icon {
      position: absolute;
      pointer-events: auto;
      color: $light-grey;
      border-radius: 1em;
      font-size: 1em;
      right: 0.45em;
      top: calc(50% - 0.5em);

      &:hover {
        color: $off-white;
        background-color: $dark-grey;
      }

      &.large {
        font-size: 1.3em;
        right: 0.5em;
      }
    }

    .left-icon {
      font-size: 1.4em;
      top: calc(50% - 0.5em);
      left: 0.3em;
      position: absolute;
      color: $light-grey;

      &.large {
        font-size: 1.3em;
        left: 0.35em;
        font-size: 1.75em;
      }
    }
  }

  &.inline-field {
    @media screen and (min-width: $mobile) {
      display: inline-block;
      width: 50%;

      .first-side-by-side-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .second-side-by-side-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &.filter-field {
    max-width: 14em;

    @media screen and (max-width: $mobile) {
      max-width: 100%;
    }
  }
}
