@import './_presets.scss';

.link {
  display: inline;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  text-decoration: none;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }

  &.primary {
    color: $link-blue;

    &:hover {
      color: $hover-blue;
    }

    &:active {
      color: $blue;
    }
  }

  &.secondary {
    color: $light-grey;

    &:hover {
      color: $dark-grey;
    }

    &:active {
      color: $light-grey;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3pt $fill-blue;
  }
}
