.text-area-present p {
  font-size: 1em;
}

.text-area {
  flex: 1;
  border: 1px solid $field-border-color;
  border-radius: $field-border-radius;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  font-size: 1em;
  resize: none;
  height: 20em;
  padding: 10px;

  &::placeholder {
    color: $light-grey;
  }

  &:hover {
    border-color: $field-hover-border-color;
  }

  &:focus {
    outline: 0;
    border-color: $field-active-border-color;
  }
}
