// border
$border-radius-default: 6px;

// mobile styling width
$mobile: 40em;

$columns-padding: 0.5em;

// Greys and Blacks
$deep-black: #1b1b1d;
$black: #2c2d30;
$dark-grey: #717274;
$light-grey: #a0a0a2;
$soft-grey: #e8e8e8;
$off-white: #f9f9f9;

// Blues
$blue: #1543d9;
$hover-blue: #005e99;
$link-blue: #0576b9;
$fill-blue: #2d9ee0;
$pale-blue: #eaf5fc;

// Reds, Yellows and Oranges
$warning-red: #d72b3f;
$orange: #f26130;
$mustard: #ff9000;
$yellow: #ffcc00;
$highlight-yellow: #fff5cc;

// Green
$green: #29a979;

// field
$field-border-radius: 4px;
$field-border-color: $light-grey;
$field-hover-border-color: $light-grey;
$field-active-border-color: $dark-grey;
