// other
@import 'misc.scss';
@import 'layout/footer';
@import 'task.scss';
@import 'column.scss';

// ui
@import 'ui/buttons.scss';
@import 'ui/dropdown.scss';
@import 'ui/links.scss';
@import 'ui/field.scss';
@import 'ui/searchField.scss';
@import 'ui/panel.scss';
@import 'ui/list.scss';
@import 'ui/select.scss';
@import 'ui/picker.scss';
@import 'ui/combobox.scss';
@import 'ui/checkbox.scss';
@import 'ui/multiCheckbox.scss';
@import 'ui/radio.scss';
@import 'ui/modals.scss';
@import 'ui/textArea.scss';
@import 'ui/pageMessage.scss';

// pages
@import 'pages/landing.scss';
@import 'pages/boardPage.scss';

// global styles
* {
  margin: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

i {
  vertical-align: middle;
}

hr {
  border: 1px solid $light-grey;
  margin: 1em 0;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.5em;
}

p {
  font-size: 0.9em;
}
