@import 'presets.scss';

.column {
  flex: 0 1 calc(33.33% - 0.7em);
  border-radius: $border-radius-default;

  .column-title {
    padding: 10px;
  }

  .drop-area {
    height: 100%;
    border-radius: $border-radius-default;
    padding: 10px;

    &.isDraggingOver {
      background-color: $transparent-1;
    }
  }
}
