@import 'presets.scss';

.column {
  flex: 0 1 calc(33.33% - 0.13em);
  // border-radius: $border-radius-default;
  display: flex;
  flex-direction: column;
  background-color: white;

  &:first-child {
    border-bottom-left-radius: $border-radius-default;
    border-top-left-radius: $border-radius-default;

    .drop-area {
      border-bottom-left-radius: $border-radius-default;
      border-top-left-radius: $border-radius-default;
    }
  }

  &:last-child {
    border-bottom-right-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;

    .drop-area {
      border-bottom-right-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
    }
  }

  .column-title {
    padding: 10px;
  }

  .drop-area {
    flex: 1;
    // border-radius: $border-radius-default;
    padding: 10px;
    // background-color: $deep-black;
    border: 1px solid transparent;

    &.isDraggingOver {
      border-color: $fill-blue;
    }
  }
}
