@import 'presets.scss';

.task {
  padding: 1rem;
  border-radius: $border-radius-default;
  margin: 0 0 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 3px $soft-grey;
  border: 1px solid $soft-grey;
  // transition: 0.2s all;

  &.isDragging {
    border-color: $light-grey;
  }

  & > * {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
