@import 'presets.scss';

.task {
  padding: 10px;
  border-radius: $border-radius-default;
  margin: 0 0 10px 0;
  background-color: $gray-6;
  box-shadow: 0 1px 2px 0 $transparent-4;
  color: #fff;

  &.isDragging {
    background-color: $gray-5;
  }
}
