@import 'presets.scss';

.task {
  padding: 1rem;
  border-radius: $border-radius-default;
  margin: 0 0 10px 0;
  background-color: #fff;
  box-shadow: 0 2px 3px $soft-grey;
  border: 1px solid $soft-grey;

  &.isDragging {
    border-color: $light-grey;
  }

  & > * {
    margin: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    color: $dark-grey;
  }

  pre {
    background-color: $highlight-yellow;
    border: 1px solid $yellow;
    border-radius: 3px;
    padding: 0.25rem;
    font-size: 0.9em;
  }
}
